/*
Authors: Josh Stambuagh & Gavin Ball
This CSS file styles all of the HTML files in the website except login.html.
This sets up the geenral styles between teh navigation pages, along with unique
styles on individual pages using appropriate classes and ids. The document is mostly
broken up into sections of styling.
*/


/* GENERAL SHARED STYLES BETWEEN NAV PAGES */

html, body {
    font-family: "Kanit", serif;
    font-weight: 300;
    font-style: normal;
    margin: 0;
    height: auto;
    min-height: 100%;
    padding: 0;
    min-width: 800px;
}

body {
    background: linear-gradient(to bottom, #0a54a3, #F652A0);
    color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    display: flex;
    flex-direction: column;
}

#loggedUser {
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin-right: 10px;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

button {
    color: white;
    font-family: "Kanit", serif;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    background-image: url('./imgs/back2.png');
}

button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.large-screenshot {
    border-radius: 20px;
    border: 2px solid black;
}


/* header styles */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-image: url('./imgs/back3.png');
    background-size: cover;
    background-position: center;
    border-bottom: 1px solid #ccc;
    z-index: 10;
}



.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
}

.header-title {
    text-align: left;
    font-size: 30pt;
    color: white;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    height: 100%;
}

.header-account {
    text-align: right;
}



.header-nav {
    width: 100%;
    border-top: 1px solid #ccc;
    background-color: #292929;

}

.header-nav ul {
    list-style: none;
    margin: 0;
    padding: 10px 20px;
    display: flex;
    gap: 25px;
    justify-content: center;
}

.header-nav li {
    display: inline;
}

.header-nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.header-nav a:hover {
    text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;

}

/* other general styling */

.large-screenshot {
    max-width: 95%;
    height: auto;
    max-height: 500px;
    margin: 20px 0;
}

.content {
    margin-top: 150px;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    padding: 20px;
}

.title {
    font-size: 2rem;
    margin: 10px 0;
}

.description {
    font-size: 1rem;
    margin: 20px auto;
    max-width: 85%;
    text-align: center;
    display: block;
}

/* WELCOME PAGE EXCLUSIVE STYLING */

.welcome-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-image: url('./imgs/back3.png');
    background-size: cover;
    background-position: center;
    border-bottom: 1px solid #ccc;
    z-index: 10;
}

/* HELP PAGE EXCLUSIVE STYLING */

.instructions-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px; 
    justify-content: center; 
    align-content: center; 
    margin: 0 auto; 
    padding: 0; 
    box-sizing: border-box; 
    max-width: 1200px; 
}

.instruction-item {
    text-align: center;
    border: 1px solid white;
    padding: 15px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: calc(100% - 30px);
    margin: 0 auto; 
    background-image: url('./imgs/back1.png');
    background-position: center;
    background-repeat: no-repeat;
}

.instruction-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.instruction-image {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 8px;
    background-color: #f1f1f1;
    margin-bottom: 10px;
}

.instruction-text {
    font-size: 1rem;
    color: white;
}



/* GAME PAGE EXCLUSIVE STYLING */

.hidden {
    display: none;
}

canvas:focus {
    outline: none;
}

.canvas-container {
    border-radius: 20px;
    border: 5px black;
    border-style: solid;
    position: relative;
    width: 700px;
    height: 350px;
    margin: 20px auto;
    display: block;
    overflow: hidden;
}

canvas {
    border-radius: 20px;
    position: relative;
    border: 2px solid black;
    display: block;
    z-index: 1;
}

.canvas-container::before {
    border-style: solid;
    border: 5px black;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 0;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: white;
    text-shadow: 0 0 5px black;
    font-family: "Kanit", serif;
    text-align: center;
    pointer-events: none;
    z-index: 2;
}

#restartButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 10px;
    border: 1px solid white;
    width: 20%;
    cursor: pointer;
}

#restartButton:hover {
    background-color: #0056b3;
}

#startOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px 40px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    cursor: pointer;
}

/* PROFILE PAGE EXCLUSIVE STYLNG*/

#logoutButton {
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}

.profile-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

#editProfileButton,
#saveProfileButton {
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

#bioInput {
    width: 100%;
    height: 80px;
    padding: 10px;
    font-family: "Kanit", serif;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 10px;
}

#profilePictureSelect {
    font-family: "Kanit", serif;
    font-size: 16px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* SOCIAL PAGE EXCLUSIVE STYLING */

.social-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 100vh;
    margin-top: 20px;
    justify-content: center;
}

.leaderboard-area {
    flex: 1;
    padding: 20px;
    border: 1px solid white;
    border-radius: 8px;
    background-color: #292929b0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    width: 100%;
    max-width: 800px;

}

.social-area {
    flex: 1;
    padding: 20px;
    border: 1px solid white;
    border-radius: 8px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background-color: #292929b0;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    box-sizing: border-box;
}

.section-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
}

/* comments */

.comment-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment-item {
    list-style: none;
    margin: 0 auto;
    width: 40vw;
    max-width: 800px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #00000075;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
}

.comment-realname {
    font-size: 14pt;
    font-weight: bold;
}

.comment-username {
    font-size: 10pt;
    font-weight: 200;
    color: rgb(233, 45, 134);
    text-shadow: none;
    margin-bottom: 10px;
}


.comment-actions {
    display: flex;
    gap: 10px;
    align-items: center;
}

.comment-text {
    text-align: left;
    font-size: 14px;
    white-space: pre-wrap;
    word-wrap: break-word;
    flex-grow: 1;
}


.comment-controls {
    display: flex;
    flex-direction: column;
    gap: 15px; 
    width: 100%;
    margin-bottom: 20px; 
}

.comment-form {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    gap: 10px;
    width: 100%; 
}

.comment-form input {
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: black;
    color: white;
    box-sizing: border-box;
    width: 75%;
}

.comment-form button {
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    width: 15%;
}

.comment-form button:hover {
    background-color: #0056b3;
}

/* replies */

.replies-container {
    list-style: none;
    margin-left: 20px;
    padding-left: 10px;
    border-left: 1px solid #ccc;
}

.comment-reply {
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    text-align: left;
}

.reply-form {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.reply-input {
    flex: 1;
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: black;
    color: white;
}

/* comment interactables */

.social-area button {
    padding: 5px 10px;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}


.sort-controls {
    display: flex;
    justify-content: center;
    gap: 20px; 
    width: 100%;
}

.sort-controls button {
    width: 44%;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #292929b0;
    cursor: pointer;
    color: white;
}

.sort-controls button:hover {
    background-color: rgb(233, 45, 134);
}

.like-button {
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.like-button:hover {
    background-color: #0056b3;
}

#leaderboardTable {
    width: 42vw;
    margin: 20px 0;
    font-size: 1rem;
    text-align: left;
    border: 1px solid white;
    border-radius: 10px;
    overflow: hidden;
    border-spacing: 0;
    border-collapse: separate;
}

#leaderboardTable thead th:first-child {
    border-top-left-radius: 10px;
}

#leaderboardTable thead th:last-child {
    border-top-right-radius: 10px;
}

#leaderboardTable tfoot td:first-child {
    border-bottom-left-radius: 10px;
}

#leaderboardTable tfoot td:last-child {
    border-bottom-right-radius: 10px;
}

#leaderboardTable thead th {
    background-color: rgb(233, 45, 134);
    color: white;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#leaderboardTable tbody tr:nth-child(even) {
    background-color: #00000075;
}

#leaderboardTable tbody tr:hover {
    background-color: rgb(233, 45, 134);
}

#leaderboardTable td,
#leaderboardTable th {
    padding: 10px;
    border: 1px solid white;
    text-align: center;
}

/* DEBUG */