.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header-title {
    text-align: left;
}

.header-account {
    text-align: right;
}



.welcome-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 10;
    border-bottom: 1px solid #ccc;
}


.welcome-content {
    margin-top: 75px;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    padding: 20px;
}

.welcome-title {
    font-size: 2rem;
    margin: 10px 0;
}

.welcome-description {
    font-size: 1rem;
    margin: 20px auto;
    max-width: 85%;
    text-align: center; /* Ensure the text inside is centered */
    display: block; /* Ensure it's treated as a block element */
}

.welcome-screenshot {
    max-width: 95%;
    /* Prevent the image from overflowing */
    height: auto;
    /* Maintain image aspect ratio */
    max-height: 500px;
    margin: 20px 0;
    /* Add spacing around the image */
}